// palette
$red: #ff00009c;
$dark: #585858;
$white: white;
$black: black;
$primary: #4096ff;

$gray-1: #2f2f2f;
$gray-2: #767676;
$gray-3: #c4c4c480;
$gray-4: #636363;

// font
$dark-font: $dark;
$gray-font: $gray-2;
$primary-font: $primary;
