// screen
$mobile: 520px;
$tablet: 1280px;

// font
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-ml: 16px;
$font-size-l: 18px;
$font-size-xl: 22px;
$font-size-xxl: 26px;
$bold-font: 600;
$light-font: 300;
$bolder-font: 900;
$default-font-weight: 400;

// padding
$padding-s: 6px;
$padding-sm: 10px;
$padding-m: 12px;
$padding-l: 24px;
$padding-xl: 32px;
$padding-xxl: 48px;

$padding-pc: 240px;
$padding-tablet: 80px;

// margin
$margin-2: 2px;
$margin-s: 6px;
$margin-m: 10px;
$margin-l: 20px;

// border
$circle-border-radius: 50%;

// opacity
$hover-opacity: 0.7;
$disabled-opacity: 0.5;
